@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800&family=Raleway:ital,wght@0,200;0,400;0,600;1,200;1,400&display=swap');
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
/*
font-family: 'Playfair Display', serif;
font-family: 'Raleway', sans-serif;
*/
body{
	font-family: 'Raleway', sans-serif;

}
img{
	max-width: 100%;
}
aside{
    position: fixed;
    top: 0;
    left: 0;
    width: 20vw;
    height: 100%;
    background: #1c735b4f;
    padding: 40px;
    box-shadow: 5px 0 50px 0 #19575a45;
}
section{
    position: relative;
}
aside h2{
	
font-size: 45px;
font-family: 'Playfair Display', serif;	
font-weight: 800;
}
.signup{}
.signup h1{

font-size: 45px;
font-family: 'Playfair Display', serif;	
font-weight: 800;
text-align: center;
margin-bottom: 20px;
}
.signup a{
	text-decoration: none;
	color:#333;
}
input.form-control, textarea.form-control, select.form-control{
	border-bottom: 1px solid #333!important;
	border-radius:0;
}
input.form-control:focus, textarea.form-control:focus, select.form-control:focus{
	color: #495057;
    background-color: #fff;
    border-color:crimson !important;
    outline: 0;
    box-shadow: 0 0 0 0 rgba(13, 110, 253, 0);
}
label{
	margin-right:30px;
}